*{
    padding: 0; margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-col: #07f7e3;
    --over-col: #109c2277;
    --header-col:brown;
    --nav-col:#de0efa;
    --box-col:#e4a91434;

}
body{
    background-color: black;
    color: var(--main-col);
    outline: none;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url("C:/Users/kuyik/Documents/evento/evento/assets/img/gallery/gallery3.png");
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: var(--main-col);
    text-decoration: none;
    font-size: 20px;
    position: relative;

}
#header .logo{
    color: var(--main-col);
    font-size: 30px;
    letter-spacing: 2px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffe44e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: var(--main-col);
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text p{
    text-transform: uppercase;
    font-weight: 600;
}

.header-text h1 span{
    color: #a15490;
}

 /* ---------About start Here---------- */

#about{
    padding: 80px 0;
    color: var(--main-col);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 10%;
}

.about-col-2{
    flex-basis: 60%;
}

.sub{
    font-size: 60px;
    font-weight: 600;
    color: var(--header-col);

}

.tab-titles{
    display: flex;
    margin: 20px 40px;

}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: var(--over-col);
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-content ul li span{
    color: var(--header-col);
    font-size: 15px;
    text-transform: uppercase;

}

.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}

/* >>>>>>>>>>>>>>>>services<<<<<<<<<<<<<<< */
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div h2{
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--header-col);
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
    text-decoration: none;
}
.services-list div{
    background: var(--box-col);
    padding: 40px; 
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50%;
}

.services-list div a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--nav-col);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}

.services-list div:hover{
    background-color: var(--over-col);
    transform: translateY(-10px);
}


/* ------------portfolio------ */

#portfolio{
    padding: 50px 0;
}

.work_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;   
}

.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border: 20px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--over-col));
    border-radius: 15px;
    position: absolute;
    left: 0; bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    align-items: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    background-color: white;
    line-height: 60px;
    font-size: 18px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    

}

.work:hover img{
    transform: scale(1.4);
}

.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid brown;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--main-col);
    transition: background 0.9s;
}
.btn:hover{
    background: var(--over-col);
}

/* -----------------contact --------- */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color:var(--main-col);
    font-size: 25px;
    margin-right: 15px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block ;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--over-col);
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    transition: background 0.4s;
}

.btn.btn2:hover{
    background: var(--header-col);
} 

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: var(--main-col);
    font-size: 18px;
    border-radius: 12px;

}

form .btn{
    padding: 14px 60px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #262626;
    font-weight: 500;
    margin-top: 20px;

}
.copyright i{
    color: red;
}
nav .fas{
    display: none;
}

/* For the back to top button */

.back-to-top{
    position: fixed;
    visibility: visible;
    opacity: 10;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--header-col);
    width: 4px; 
    height: 40px;
    border-radius: 20px;
    transition: width 0.7s;
    
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   text-decoration: none;

}

.back-to-top i{
    font-size: 24px;
    color: var(--main-col);
    line-height: 0;
}
.back-to-top:hover{
    background: var(--over-col);
    color: white;
    width: 49px;
}
.back-to-top.active{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width:900px){
    #header{
        
        background-image: url("C:/Users/kuyik/Downloads/Mentor/assets/img/course-details.jpg");

    }
    .header-text{
        font-size: 16px;
        margin-top: 100px;
                 
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        position: fixed;
        top: 0; right: -200px;
        background: #ff004f;
        width: 200px;
        height: 100vh;
        padding-top: 50px ;
        transition: right 0.5s;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: #fff;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 21px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 50px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 24px;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}